@{
    Layout = null;
    ViewBag.Title = "AddClub";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS-->
    <link href="~/Lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!--Style sheet-->
    <link href="~/css/Stylesheet.css" rel="stylesheet" />
    <title> AddClub - Future Hendrix Soccer</title>
</head>
<body class="align-text-top">
    <div class="cover-container d-flex w-auto h-auto p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <img src="~/Images/colorball.svg" with="20" height="30" />
                FUTURE HENDRIX SOCCER
                <p class="a">
                    <nav class="nav nav-masthead justify-content-center">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class=" nav-link " asp-action="Index"> HOME</a>
                            <a class="nav-link" asp-action="CLUBS">CLUBS</a>
                            <a class="nav-link active" asp-action="AddClub">ADD CLUB</a>
                            <a class="nav-link" asp-action="ClubDetails">CLUB DETAILS</a>
                            <a class="nav-link" asp-action="ManagePlayers">MANAGE PLAYERS</a>
                        </div>
                    </nav>
                </p>
            </div>
        </header>
        <main role="main" class="text-center">
            <p class="a">
                <h1 class="cover-heading">
                    <h1>INPUT CLUB INFORMATION </h1>
                    
                    </h1>
                </p>
            
                </main>
                </div>
            <form>
                <div class="form-group">
                    <label for=" TxtName">Club Name</label>
                    <input type="text" class="form-control" id="TxtName" />
                </div>
                <div class="form-group">
                    <label for="exampleforCpntrolTextrea"> Club Information</label>
                    <textarea class="form-control" id="exampleforcontrolTextarea" rows="3"></textarea>
                </div>

            </form>
        </main>

        <button type="submit" class="btn btn-primary">DONE</button>
    </div>

    <div class="footer">
        <p>© 2020 Shaundre whyte. All Rights Reserved.</p>
    </div>
</body>
</html>


